ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    BFWZ201
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  NonSch SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  3
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  BFWZ201
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -321.0000    522.0000    42.0000
PIPE
    END-POINT        124.4089    558.8356    54.0000    3.0000
    END-POINT        124.4089    584.7500    54.0000    3.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.438
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  14.34
    CONTINUATION 
WELD
    END-POINT        124.4089    558.8356    54.0000    3.0000
    END-POINT        124.4089    558.8356    54.0000    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        128.9089    554.3356    54.0000    3.0000  BW
    END-POINT        124.4089    558.8356    54.0000    3.0000  BW
    CENTRE-POINT     124.4089    554.3356    54.0000
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.438
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  8.84
    CONTINUATION 
WELD
    END-POINT        128.9089    554.3356    54.0000    3.0000
    END-POINT        128.9089    554.3356    54.0000    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        195.1691    554.3356    54.0000    3.0000
    END-POINT        128.9089    554.3356    54.0000    3.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.438
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  14.34
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          124.4089    584.7500    54.0000
    PIPELINE-REFERENCE    HHSX206
PIPE
    END-POINT        196.0000    596.7500    54.0000    8.0000
    END-POINT        22.0239    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    INSULATION-SPEC  ?
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.812
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_?
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  67.82
    CONTINUATION 
WELD
    END-POINT        196.0000    596.7500    54.0000    8.0000
    END-POINT        196.0000    596.7500    54.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        228.7500    596.7500    54.0000    8.0000
    END-POINT        196.0000    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
    CONTINUATION 
WELD
    END-POINT        228.7500    596.7500    54.0000    8.0000
    END-POINT        228.7500    596.7500    54.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        246.7500    596.7500    54.0000    8.0000
    END-POINT        228.7500    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
    CONTINUATION 
WELD
    END-POINT        22.0239    596.7500    54.0000    8.0000
    END-POINT        22.0239    596.7500    54.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
TEE
    END-POINT        22.0239    596.7500    54.0000    8.0000  BW
    END-POINT        8.0239    596.7500    54.0000    8.0000  BW
    CENTRE-POINT     15.0239    596.7500    54.0000
    BRANCH1-POINT    15.0239    596.7500    60.6200    6.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    INSULATION-SPEC  ?
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.812
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_?
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  114
    CONTINUATION 
WELD
    END-POINT        8.0239    596.7500    54.0000    8.0000
    END-POINT        8.0239    596.7500    54.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          124.4089    596.7500    54.0000
    PIPELINE-REFERENCE    HHSX204
WELD
    END-POINT        -299.9941    608.7500    30.0000    4.0000
    END-POINT        -299.9941    608.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -299.9941    626.7500    30.0000    4.0000
    END-POINT        -299.9941    608.7500    30.0000    4.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
    CONTINUATION 
WELD
    END-POINT        -299.9941    626.7500    30.0000    4.0000
    END-POINT        -299.9941    626.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        -299.9941    626.7500    30.0000    4.0000  BW
    END-POINT        -293.9941    632.7500    30.0000    4.0000  BW
    CENTRE-POINT     -299.9941    632.7500    30.0000
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  18.6
    CONTINUATION 
WELD
    END-POINT        -293.9941    632.7500    30.0000    4.0000
    END-POINT        -293.9941    632.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -299.9941    608.7500    30.0000
    PIPELINE-REFERENCE    BFWZ202
WELD
    END-POINT        -249.2501    608.7500    30.0000    4.0000
    END-POINT        -249.2501    608.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -249.2501    626.7500    30.0000    4.0000
    END-POINT        -249.2501    608.7500    30.0000    4.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
    CONTINUATION 
WELD
    END-POINT        -249.2501    626.7500    30.0000    4.0000
    END-POINT        -249.2501    626.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
ELBOW
    END-POINT        -255.2501    632.7500    30.0000    4.0000  BW
    END-POINT        -249.2501    626.7500    30.0000    4.0000  BW
    CENTRE-POINT     -246.7648    632.7500    30.0000
    CENTRE-POINT     -249.2501    635.2353    30.0000
    SKEY  EUBW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  37.2
    CONTINUATION 
WELD
    END-POINT        -255.2501    632.7500    30.0000    4.0000
    END-POINT        -255.2501    632.7500    30.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -249.2501    608.7500    30.0000
    PIPELINE-REFERENCE    BFWZ202
PIPE
    END-POINT        279.5000    596.7500    54.0000    8.0000
    END-POINT        246.7500    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
    CONTINUATION 
WELD
    END-POINT        246.7500    596.7500    54.0000    8.0000
    END-POINT        246.7500    596.7500    54.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        246.7500    596.7500    54.0000    8.0000
    END-POINT        228.7500    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
    CONTINUATION 
WELD
    END-POINT        228.7500    596.7500    54.0000    8.0000
    END-POINT        228.7500    596.7500    54.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        228.7500    596.7500    54.0000    8.0000
    END-POINT        196.0000    596.7500    54.0000    8.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          279.5000    596.7500    54.0000
    PIPELINE-REFERENCE    HHSX203
BEND
    END-POINT        -321.0000    534.0000    30.0000    8.0000  BW
    END-POINT        -321.0000    522.0000    42.0000    8.0000  BW
    CENTRE-POINT     -321.0000    522.0000    30.0000
    SKEY  BEBW
    ITEM-CODE  SPC1 SA-106 GR. C-2715-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WPC, SCH 1.00" WALL, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  129.14
MESSAGE
    CO-ORDS          -321.0000    522.0000    42.0000
    TEXT  TIE-IN@POINT@T-001
    UNDIMENSIONED
PIPE
    END-POINT        -321.0000    534.0000    30.0000    8.0000
    END-POINT        -321.0000    551.9607    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        -321.0000    534.0000    30.0000    8.0000
    END-POINT        -321.0000    534.0000    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -321.0000    551.9607    30.0000    8.0000
    END-POINT        -321.0000    551.9607    30.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -321.0000    551.9607    30.0000    8.0000
    END-POINT        -321.0000    584.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        -321.0000    584.7500    30.0000    8.0000
    END-POINT        -321.0000    584.7500    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
BEND
    END-POINT        -321.0000    584.7500    30.0000    8.0000  BW
    END-POINT        -309.0000    596.7500    30.0000    8.0000  BW
    CENTRE-POINT     -321.0000    596.7500    30.0000
    SKEY  BEBW
    ITEM-CODE  SPC1 SA-106 GR. C-2715-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WPC, SCH 1.00" WALL, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  129.14
WELD
    END-POINT        -309.0000    596.7500    30.0000    8.0000
    END-POINT        -309.0000    596.7500    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -309.0000    596.7500    30.0000    8.0000
    END-POINT        -291.0001    596.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
OLET
    CENTRE-POINT     -299.9941    596.7500    30.0000
    BRANCH1-POINT    -299.9941    608.7500    30.0000    4.0000  BW
    SKEY  HCBW
    ITEM-CODE  FORGE NOZZLE, 8"x4", Weldolet
    ITEM-DESCRIPTION  FORGE NOZZLE, Weldolet
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  5.4
MESSAGE
    CO-ORDS          -299.9941    608.7500    30.0000
    TEXT  BFWZ201,@BFWZ202
    UNDIMENSIONED
WELD
    END-POINT        -299.9941    596.7500    30.0000    8.0000
    END-POINT        -299.9941    596.7500    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -291.0001    596.7500    30.0000    8.0000
    END-POINT        -291.0001    596.7500    30.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -291.0001    596.7500    30.0000    8.0000
    END-POINT        -258.0450    596.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        -258.0450    596.7500    30.0000    8.0000
    END-POINT        -258.0450    596.7500    30.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -258.0450    596.7500    30.0000    8.0000
    END-POINT        -240.2501    596.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        -249.2501    596.7500    30.0000    8.0000
    END-POINT        -249.2501    596.7500    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -249.2501    596.7500    30.0000
    BRANCH1-POINT    -249.2501    608.7500    30.0000    4.0000  BW
    SKEY  HCBW
    ITEM-CODE  FORGE NOZZLE, 8"x4", Weldolet
    ITEM-DESCRIPTION  FORGE NOZZLE, Weldolet
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  5.4
MESSAGE
    CO-ORDS          -249.2501    608.7500    30.0000
    TEXT  BFWZ201,@BFWZ202
    UNDIMENSIONED
WELD
    END-POINT        -240.2501    596.7500    30.0000    8.0000
    END-POINT        -240.2501    596.7500    30.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -240.2501    596.7500    30.0000    8.0000
    END-POINT        -207.1535    596.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        -207.1535    596.7500    30.0000    8.0000
    END-POINT        -207.1535    596.7500    30.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -207.1535    596.7500    30.0000    8.0000
    END-POINT        321.5000    596.7500    30.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
WELD
    END-POINT        124.4089    584.7500    54.0000    3.0000
    END-POINT        124.4089    584.7500    54.0000    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        124.4089    596.7500    54.0000    8.0000
    END-POINT        124.4089    596.7500    54.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  140 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        321.5000    596.7500    54.0000    8.0000
    END-POINT        279.5000    596.7500    54.0000    8.0000
    ITEM-CODE  SPC1 SA-106 GR. C-2803
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  60.139
MESSAGE
    CO-ORDS          279.5000    596.7500    54.0000
    TEXT  BFWZ201,@HHSX203
    UNDIMENSIONED
WELD
    END-POINT        279.5000    596.7500    54.0000    8.0000
    END-POINT        279.5000    596.7500    54.0000    8.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        321.5000    596.7500    30.0000    8.0000
    END-POINT        321.5000    596.7500    30.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
BEND
    END-POINT        321.5000    596.7500    30.0000    8.0000  BW
    END-POINT        333.5000    596.7500    42.0000    8.0000  BW
    CENTRE-POINT     333.5000    596.7500    30.0000
    SKEY  BEBW
    ITEM-CODE  SPC1 SA-106 GR. C-2715-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WPC, SCH 1.00" WALL, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  129.14
BEND
    END-POINT        333.5000    596.7500    42.0000    8.0000  BW
    END-POINT        321.5000    596.7500    54.0000    8.0000  BW
    CENTRE-POINT     333.5000    596.7500    54.0000
    SKEY  BEBW
    ITEM-CODE  SPC1 SA-106 GR. C-2715-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WPC, SCH 1.00" WALL, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  129.14
WELD
    END-POINT        321.5000    596.7500    54.0000    8.0000
    END-POINT        321.5000    596.7500    54.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        333.5000    596.7500    42.0000    8.0000
    END-POINT        333.5000    596.7500    42.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1 SA-106 GR. C
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SPC1 SA-106 GR. C-2803
    DESCRIPTION  PIPE, SA-106 GR. C, SCH 1.00" WALL
    DesignPressure  
    DesignTemperature  
    Material  SA-106 GR. C
    WallThickness  1
    InsulationThickness  3
    InsulationType  Min. Wool
ITEM-CODE  Buttweld-8
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  3
    InsulationType  Min. Wool
ITEM-CODE  SPC1 SA-106 GR. C-2715
    DESCRIPTION  ELBOW 90 LR, SA-234 WPC, SCH 1.00" WALL, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WPC
    WallThickness  1
    InsulationThickness  3
    InsulationType  Min. Wool
ITEM-CODE  Tapweld-8
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  3
    InsulationType  Min. Wool
ITEM-CODE  FORGE NOZZLE, 8"x4", Weldolet
    DESCRIPTION  FORGE NOZZLE, Weldolet
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  3
    InsulationType  Min. Wool
ITEM-CODE  Buttweld-3
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  3
    InsulationType  Min. Wool