ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    BFWZ897
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  3
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  BFWZ897
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -216.5072    703.0000    480.0000
WELD
    END-POINT        -216.5072    703.0000    559.1250    6.0000
    END-POINT        -216.5072    703.0000    559.1250    6.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -216.5072    703.0000    559.1250    6.0000
    END-POINT        -216.5072    703.0000    586.8750    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_LP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -216.5072    703.0000    586.8750    6.0000
    END-POINT        -216.5072    703.0000    586.8750    6.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -216.5072    703.0000    586.8750    6.0000
    END-POINT        -216.5072    703.0000    946.2683    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_LP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -216.5072    703.0000    946.2683    6.0000
    END-POINT        -216.5072    703.0000    946.2683    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -216.5072    703.0000    559.1250
    PIPELINE-REFERENCE    HLSX287
PIPE
    END-POINT        -216.5072    703.0000    480.0000    6.0000
    END-POINT        -216.5072    703.0000    559.1250    6.0000
    ITEM-CODE  XXS SA-106 GR. B-1327
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -216.5072    703.0000    559.1250
    TEXT  BFWZ897,@HLSX287
    UNDIMENSIONED
MESSAGE
    CO-ORDS          -216.5072    703.0000    480.0000
    TEXT  TIE-IN@POINT@T-204
    UNDIMENSIONED
MATERIALS
ITEM-CODE  XXS SA-106 GR. B-1327
    DESCRIPTION  PIPE, SA-106 GR. B, SCH XXS
    DesignPressure  
    DesignTemperature  
    Material  SA-106 GR. B
    WallThickness  0.864
    InsulationThickness  3
    InsulationType  Min. Wool