ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    HHSX269
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  1.25" SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6.5
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX269
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-CLOSED
    CO-ORDS          -154.9990    21.0047    1235.9795
PIPE
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -140.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX268
PIPE
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -14.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX268
PIPE
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          14.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX268
PIPE
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          140.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX268
PIPE
    END-POINT        -148.5000    21.0047    1271.9795    12.0000
    END-POINT        -220.5000    21.0047    1271.9795    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    CONTINUATION 
WELD
    END-POINT        -220.5000    21.0047    1271.9795    12.0000
    END-POINT        -220.5000    21.0047    1271.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        -220.5000    21.0047    1271.9795    12.0000  BW
    END-POINT        -238.5000    21.0047    1253.9795    12.0000  BW
    CENTRE-POINT     -238.5000    21.0047    1271.9795
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WP91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  407.536
    CONTINUATION 
WELD
    END-POINT        -238.5000    21.0047    1253.9795    12.0000
    END-POINT        -238.5000    21.0047    1253.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -238.5000    21.0047    1253.9795    12.0000
    END-POINT        -238.5000    21.0047    1145.2500    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -148.5000    21.0047    1271.9795
    PIPELINE-REFERENCE    HHSX270
PIPE
    END-POINT        -104.0000    21.0047    1271.9795    12.0000
    END-POINT        -148.5000    21.0047    1271.9795    12.0000
    ITEM-CODE  SPC1.429 SA-335 P91-3103
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
WELD
    END-POINT        -148.5000    21.0047    1271.9795    12.0000
    END-POINT        -148.5000    21.0047    1271.9795    12.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    ITEM-CODE  SPC1.429 SA-335 P91-3103
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    TAP-CONNECTION  
    CO-ORDS          140.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -140.0000    21.0034    1229.6045    0.0000
WELD
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
CAP
    END-POINT        -147.9990    21.0047    1235.9795    12.0000  Universal_ET
    END-POINT        -154.9990    21.0047    1235.9795    12.0000  Universal_ET
    SKEY  KABW
    ITEM-CODE  PlaceHolder Imperial-821
    ITEM-DESCRIPTION  PH IMPERIAL Cap
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -80.0000    21.0047    1271.9795    12.0000
    END-POINT        -104.0000    21.0047    1271.9795    12.0000
    ITEM-CODE  SPC1.429 SA-335 P91-3103
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
WELD
    END-POINT        -104.0000    21.0047    1271.9795    12.0000
    END-POINT        -104.0000    21.0047    1271.9795    12.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -35.5000    21.0047    1271.9795    12.0000
    END-POINT        -80.0000    21.0047    1271.9795    12.0000
    ITEM-CODE  SPC1.429 SA-335 P91-3103
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
WELD
    END-POINT        -80.0000    21.0047    1271.9795    12.0000
    END-POINT        -80.0000    21.0047    1271.9795    12.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        149.0010    21.0047    1271.9795    12.0000
    END-POINT        -35.5000    21.0047    1271.9795    12.0000
    ITEM-CODE  SPC1.429 SA-335 P91-3103
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
WELD
    END-POINT        -35.5000    21.0047    1271.9795    12.0000
    END-POINT        -35.5000    21.0047    1271.9795    12.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        149.0010    21.0047    1271.9795    12.0000
    END-POINT        149.0010    21.0047    1271.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
BEND
    END-POINT        167.0010    21.0047    1253.9795    12.0000  BW
    END-POINT        149.0010    21.0047    1271.9795    12.0000  BW
    CENTRE-POINT     167.0010    21.0047    1271.9795
    SKEY  BEBW
    ITEM-CODE  SPC1.429 SA-335 P91-3007-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WP91, SCH SPC1.429, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WP91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  407.536
BEND
    END-POINT        149.0010    21.0047    1235.9795    12.0000  BW
    END-POINT        167.0010    21.0047    1253.9795    12.0000  BW
    CENTRE-POINT     167.0010    21.0047    1235.9795
    SKEY  BEBW
    ITEM-CODE  SPC1.429 SA-335 P91-3007-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, SA-234 WP91, SCH SPC1.429, BV
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WP91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  407.536
WELD
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
WELD
    END-POINT        167.0010    21.0047    1253.9795    12.0000
    END-POINT        167.0010    21.0047    1253.9795    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SPC1.429 SA-335 P91-3103
    DESCRIPTION  PIPE, SA-335 P91, SCH SPC1.429
    DesignPressure  
    DesignTemperature  
    Material  SA-335 P91
    WallThickness  1.429
    InsulationThickness  6.5
    InsulationType  Cal. Sil.
ITEM-CODE  Buttweld-12
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6.5
    InsulationType  Cal. Sil.
ITEM-CODE  SPC1.429 SA-335 P91-3007
    DESCRIPTION  ELBOW 90 LR, SA-234 WP91, SCH SPC1.429, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WP91
    WallThickness  1.429
    InsulationThickness  6.5
    InsulationType  Cal. Sil.
ITEM-CODE  Tapweld-6
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6.5
    InsulationType  Cal. Sil.
ITEM-CODE  Universal-12
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6.5
    InsulationType  Cal. Sil.
ITEM-CODE  PlaceHolder Imperial-821
    DESCRIPTION  PH IMPERIAL Cap
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6.5
    InsulationType  Cal. Sil.