ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    HHSX268-1
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -140.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          -140.0000    21.0000    1107.2525
PIPE
    END-POINT        -140.0000    21.0000    1107.2526    6.0000
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -140.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
SUPPORT
    CO-ORDS          -140.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-2
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -14.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          -14.0000    21.0000    1107.2525
PIPE
    END-POINT        -14.0000    21.0000    1107.2526    6.0000
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -14.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          -14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          -14.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_XXXXXXX
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-3
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          140.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          140.0000    21.0000    1107.2525
PIPE
    END-POINT        140.0000    21.0000    1107.2526    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          140.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          140.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          140.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-4
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          14.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          14.0000    21.0000    1107.2525
PIPE
    END-POINT        14.0000    21.0000    1107.2526    6.0000
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          14.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          14.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-5
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -14.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          -14.0000    21.0000    1107.2525
PIPE
    END-POINT        -14.0000    21.0000    1107.2526    6.0000
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -14.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          -14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          -14.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_XXXXXXX
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-6
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          140.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          140.0000    21.0000    1107.2525
PIPE
    END-POINT        140.0000    21.0000    1107.2526    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          140.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          140.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          140.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-7
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          14.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          14.0000    21.0000    1107.2525
PIPE
    END-POINT        14.0000    21.0000    1107.2526    6.0000
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          14.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
MESSAGE
    CO-ORDS          14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@PI-HHSX268
    UNDIMENSIONED
SUPPORT
    CO-ORDS          14.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-8
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -140.0000    21.0000    1211.9795
END-POSITION-NULL
    CO-ORDS          -140.0000    21.0000    1107.2525
PIPE
    END-POINT        -140.0000    21.0000    1107.2526    6.0000
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -140.0000    21.0000    1107.2526
    TEXT  CONNECT@TO@HPSH1
    UNDIMENSIONED
SUPPORT
    CO-ORDS          -140.0000    21.0000    1165.2526    6.0000
    SKEY  01HG
    ITEM-CODE  PipeSupportsSpec-18
    ITEM-DESCRIPTION  WELD RING
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  PipeSupportsSpec
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX268-9
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          140.0000    21.0000    1211.9795
WELD
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    TAP-CONNECTION  
    CO-ORDS          140.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -140.0000    21.0034    1229.6045    0.0000
    CONTINUATION 
WELD
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          140.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX269
WELD
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          140.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@MA-HHSX268
    UNDIMENSIONED
PIPELINE-REFERENCE    HHSX268-10
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          14.0000    21.0000    1211.9795
WELD
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    TAP-CONNECTION  
    CO-ORDS          140.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -140.0000    21.0034    1229.6045    0.0000
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          14.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX269
WELD
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@MA-HHSX268
    UNDIMENSIONED
PIPELINE-REFERENCE    HHSX268-11
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -14.0000    21.0000    1211.9795
WELD
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    TAP-CONNECTION  
    CO-ORDS          140.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -140.0000    21.0034    1229.6045    0.0000
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -14.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX269
WELD
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -14.0000    21.0000    1211.9795    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -14.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@MA-HHSX268
    UNDIMENSIONED
PIPELINE-REFERENCE    HHSX268-12
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  XXS SA-335 P91
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX268
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -140.0000    21.0000    1211.9795
WELD
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -147.9990    21.0047    1235.9795    12.0000
    END-POINT        149.0010    21.0047    1235.9795    12.0000
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.429
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  172.964
    TAP-CONNECTION  
    CO-ORDS          140.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -14.0000    21.0034    1229.6045    0.0000
    TAP-CONNECTION  
    CO-ORDS          -140.0000    21.0034    1229.6045    0.0000
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    END-POINT        140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        14.0000    21.0000    1211.9795    6.0000
    END-POINT        14.0000    21.0034    1229.6045    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
    CONTINUATION 
WELD
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    END-POINT        -14.0000    21.0034    1229.6045    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SPC1.429 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -140.0000    21.0034    1229.6045
    PIPELINE-REFERENCE    HHSX269
WELD
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -140.0000    21.0000    1211.9795    6.0000
    END-POINT        -140.0000    21.0034    1229.6045    6.0000
    ITEM-CODE  XXS SA-335 P91-1711
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    FABRICATION-ITEM
    PIPING-SPEC  XXS SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.864
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  53.21
MESSAGE
    CO-ORDS          -140.0000    21.0000    1211.9795
    TEXT  CONNECT@TO@MA-HHSX268
    UNDIMENSIONED
MATERIALS
ITEM-CODE  XXS SA-335 P91-1711
    DESCRIPTION  PIPE, SA-335 P91, SCH XXS
    DesignPressure  
    DesignTemperature  
    Material  SA-335 P91
    WallThickness  0.864
    InsulationThickness  0
    InsulationType  Cal. Sil.
ITEM-CODE  Buttweld-6
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6
    InsulationType  Cal. Sil.
ITEM-CODE  PipeSupportsSpec-18
    DESCRIPTION  WELD RING
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  0
    InsulationType  Cal. Sil.