ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    HHSX244-1
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          58.0000    398.5000    146.0026
END-POSITION-NULL
    CO-ORDS          58.0000    400.2757    135.2269
PIPE
    END-POINT        58.0000    398.5000    139.5137    4.0000
    END-POINT        58.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_DA
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          58.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        58.0000    400.2757    135.2269    4.0000  BW
    END-POINT        58.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     58.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_DA
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
WELD
    END-POINT        58.0000    398.5000    139.5137    4.0000
    END-POINT        58.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX244-2
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          96.0000    400.2757    135.2269
END-POSITION-NULL
    CO-ORDS          96.0000    398.5000    146.0026
PIPE
    END-POINT        96.0000    398.5000    139.5137    4.0000
    END-POINT        96.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          96.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        96.0000    400.2757    135.2269    4.0000  BW
    END-POINT        96.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     96.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
WELD
    END-POINT        96.0000    398.5000    139.5137    4.0000
    END-POINT        96.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX244-3
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          96.0000    400.2757    135.2269
END-POSITION-NULL
    CO-ORDS          96.0000    398.5000    146.0026
PIPE
    END-POINT        96.0000    398.5000    139.5137    4.0000
    END-POINT        96.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          96.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        96.0000    400.2757    135.2269    4.0000  BW
    END-POINT        96.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     96.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
WELD
    END-POINT        96.0000    398.5000    139.5137    4.0000
    END-POINT        96.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX244-4
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          58.0000    400.2757    135.2269
END-POSITION-NULL
    CO-ORDS          58.0000    398.5000    146.0026
PIPE
    END-POINT        58.0000    398.5000    139.5137    4.0000
    END-POINT        58.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_DA
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          58.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        58.0000    400.2757    135.2269    4.0000  BW
    END-POINT        58.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     58.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_DA
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
WELD
    END-POINT        58.0000    398.5000    139.5137    4.0000
    END-POINT        58.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    HHSX244-5
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -96.0000    400.2757    135.2269
END-POSITION-NULL
    CO-ORDS          -96.0000    398.5000    146.0026
WELD
    END-POINT        -96.0000    398.5000    139.5137    4.0000
    END-POINT        -96.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -96.0000    398.5000    139.5137    4.0000
    END-POINT        -96.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          -96.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        -96.0000    400.2757    135.2269    4.0000  BW
    END-POINT        -96.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     -96.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
PIPELINE-REFERENCE    HHSX244-6
    DATE-DMY 06/12/17
    ATTRIBUTE1  HP
    ATTRIBUTE2  160 SA-106 GR. C
    ATTRIBUTE3  
    ATTRIBUTE4  4
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX244
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-106 GR. C
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -58.0000    400.2757    135.2269
END-POSITION-NULL
    CO-ORDS          -58.0000    398.5000    146.0026
WELD
    END-POINT        -58.0000    398.5000    139.5137    4.0000
    END-POINT        -58.0000    398.5000    139.5137    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -58.0000    398.5000    139.5137    4.0000
    END-POINT        -58.0000    398.5000    146.0026    4.0000
    ITEM-CODE  160 SA-106 GR. C-1079
    ITEM-DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. C
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  22.53
MESSAGE
    CO-ORDS          -58.0000    398.5000    146.0026
    TEXT  CONNECT@TO@HPEV3
    UNDIMENSIONED
BEND
    END-POINT        -58.0000    400.2757    135.2269    4.0000  BW
    END-POINT        -58.0000    398.5000    139.5137    4.0000  BW
    CENTRE-POINT     -58.0000    398.5000    137.0026
    SKEY  BEBW
    ITEM-CODE  160 SA-106 GR. C-1518-13500
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  160 SA-106 GR. C
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPC
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.531
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  9.3
MATERIALS
ITEM-CODE  160 SA-106 GR. C-1518
    DESCRIPTION  ELL 45 LR, SA-234 WPC, SCH 160, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WPC
    WallThickness  0.531
    InsulationThickness  0
    InsulationType  
ITEM-CODE  Buttweld-4
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  4
    InsulationType  
ITEM-CODE  160 SA-106 GR. C-1079
    DESCRIPTION  PIPE, SA-106 GR. C, SCH 160
    DesignPressure  
    DesignTemperature  
    Material  SA-106 GR. C
    WallThickness  0.531
    InsulationThickness  0
    InsulationType  