ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    HHSX475
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  6
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HHSX475
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -77.0000    -42.0000    42.5625
TEE
    END-POINT        -85.5000    -42.0000    78.0000    10.0000  BW
    END-POINT        -68.5000    -42.0000    78.0000    10.0000  BW
    CENTRE-POINT     -77.0000    -42.0000    78.0000
    BRANCH1-POINT    -77.0000    -42.0000    70.0000    8.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WP91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.125
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  241
    CONTINUATION 
WELD
    END-POINT        -85.5000    -42.0000    78.0000    10.0000
    END-POINT        -85.5000    -42.0000    78.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -100.1172    -42.0000    78.0000    10.0000
    END-POINT        -85.5000    -42.0000    78.0000    10.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.125
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  115.75
    TAP-CONNECTION  
    CO-ORDS          -91.1073    -42.0000    83.3750    0.0000
    CONTINUATION 
WELD
    END-POINT        -91.1073    -42.0000    83.3750    6.0000
    END-POINT        -91.1073    -42.0000    83.3750    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_DA
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -91.1073    -42.0000    90.0000    6.0000
    END-POINT        -91.1073    -42.0000    83.3750    6.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_0.719
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    WEIGHT  45.39
    CONTINUATION 
WELD
    END-POINT        -100.1172    -42.0000    78.0000    10.0000
    END-POINT        -100.1172    -42.0000    78.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        -68.5000    -42.0000    78.0000    10.0000
    END-POINT        -68.5000    -42.0000    78.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -68.5000    -42.0000    78.0000    10.0000
    END-POINT        194.9823    -42.0000    78.0000    10.0000
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_1.125
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  115.75
    TAP-CONNECTION  
    CO-ORDS          -62.8927    -42.0000    83.3750    0.0000
    TAP-CONNECTION  
    CO-ORDS          62.8927    -42.0000    83.3750    0.0000
    TAP-CONNECTION  
    CO-ORDS          91.1073    -42.0000    83.3750    0.0000
    CONTINUATION 
WELD
    END-POINT        194.9823    -42.0000    78.0000    10.0000
    END-POINT        194.9823    -42.0000    78.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6.5
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6.5
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -77.0000    -42.0000    70.0000
    PIPELINE-REFERENCE    HHSX265
OLET
    CENTRE-POINT     -77.0000    -42.0000    44.0000
    BRANCH1-POINT    -77.0000    -42.0000    42.5625    2.0000  SW
    SKEY  SKSW
    ITEM-CODE  160 SA-335 P91-3576
    ITEM-DESCRIPTION  FLEXOLET, SA-182 F91, 6000#, Sockolet
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-182 F91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
MESSAGE
    CO-ORDS          -77.0000    -42.0000    42.5625
    TEXT  HHSX475,@HHSX476
    UNDIMENSIONED
CAP
    END-POINT        -77.0000    -42.0000    48.0000    8.0000  BW
    END-POINT        -77.0000    -42.0000    44.0000    8.0000  BW
    SKEY  KABW
    ITEM-CODE  160 SA-335 P91-910
    ITEM-DESCRIPTION  CAP, SA-234 WP91, SCH 160, BV
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WP91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.906
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  33.6
    TAP-CONNECTION  
    CO-ORDS          -77.0000    -42.0000    44.0000    0.0000
WELD
    END-POINT        -77.0000    -42.0000    44.0000    8.0000
    END-POINT        -77.0000    -42.0000    44.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -77.0000    -42.0000    48.0000    8.0000
    END-POINT        -77.0000    -42.0000    48.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -77.0000    -42.0000    70.0000    8.0000
    END-POINT        -77.0000    -42.0000    70.0000    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -77.0000    -42.0000    70.0000    8.0000
    END-POINT        -77.0000    -42.0000    48.0000    8.0000
    ITEM-CODE  160 SA-335 P91-928
    ITEM-DESCRIPTION  PIPE, SA-335 P91, SCH 160
    FABRICATION-ITEM
    PIPING-SPEC  160 SA-335 P91
    INSULATION-SPEC  Cal. Sil.
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_HP
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_6
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-335 P91
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.906
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_6
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Cal. Sil.
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  74.76
MATERIALS
ITEM-CODE  Buttweld-8
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6
    InsulationType  Cal. Sil.
ITEM-CODE  160 SA-335 P91-928
    DESCRIPTION  PIPE, SA-335 P91, SCH 160
    DesignPressure  
    DesignTemperature  
    Material  SA-335 P91
    WallThickness  0.906
    InsulationThickness  6
    InsulationType  Cal. Sil.
ITEM-CODE  160 SA-335 P91-910
    DESCRIPTION  CAP, SA-234 WP91, SCH 160, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WP91
    WallThickness  0.906
    InsulationThickness  6
    InsulationType  Cal. Sil.
ITEM-CODE  Tapweld-8
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  6
    InsulationType  Cal. Sil.
ITEM-CODE  160 SA-335 P91-3576
    DESCRIPTION  FLEXOLET, SA-182 F91, 6000#, Sockolet
    DesignPressure  
    DesignTemperature  
    Material  SA-182 F91
    WallThickness  
    InsulationThickness  6
    InsulationType  Cal. Sil.