ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    HISX202-1
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HISX202
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -133.0000    579.7500    77.9999
END-POSITION-NULL
    CO-ORDS          -133.0000    579.7500    146.0026
PIPE
    END-POINT        -133.0000    579.7500    146.0026    4.0000
    END-POINT        -133.0000    579.7500    77.9999    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_IPEC
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
MESSAGE
    CO-ORDS          -133.0000    579.7500    146.0026
    TEXT  CONNECT@TO@IPEC2
    UNDIMENSIONED
MESSAGE
    CO-ORDS          -133.0000    579.7500    77.9999
    TEXT  CONNECT@TO@PI-HISX202
    UNDIMENSIONED
PIPELINE-REFERENCE    HISX202-2
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HISX202
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -133.0000    579.7500    77.9999
END-POSITION-NULL
    CO-ORDS          -133.0000    579.7500    146.0026
PIPE
    END-POINT        -133.0000    579.7500    146.0026    4.0000
    END-POINT        -133.0000    579.7500    77.9999    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_IPEC
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_0
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
MESSAGE
    CO-ORDS          -133.0000    579.7500    146.0026
    TEXT  CONNECT@TO@IPEC2
    UNDIMENSIONED
MESSAGE
    CO-ORDS          -133.0000    579.7500    77.9999
    TEXT  CONNECT@TO@PI-HISX202
    UNDIMENSIONED
PIPELINE-REFERENCE    HISX202-3
    DATE-DMY 06/12/17
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  V17505
    ATTRIBUTE7  HISX202
    ATTRIBUTE8  Huntington Beach
    ATTRIBUTE9  17505
    PROJECT-IDENTIFIER  V17505
    REVISION  0
    AREA  
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-CLOSED
    CO-ORDS          -122.0366    579.7505    66.0000
END-POSITION-NULL
    CO-ORDS          -133.0160    579.7498    78.0017
PIPE
    END-POINT        -267.5000    548.2500    66.0000    4.0000
    END-POINT        -258.5000    548.2500    66.0000    4.0000
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    WEIGHT  15
    CONTINUATION 
WELD
    END-POINT        -267.5000    548.2500    66.0000    4.0000
    END-POINT        -267.5000    548.2500    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        -273.5000    548.2500    72.0000    4.0000  BW
    END-POINT        -267.5000    548.2500    66.0000    4.0000  BW
    CENTRE-POINT     -273.5000    548.2500    66.0000
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_3
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPB
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_3
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  12.5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -258.5000    548.2500    66.0000
    PIPELINE-REFERENCE    BFWZ251
PIPE
    END-POINT        -258.5000    548.2500    66.0000    4.0000
    END-POINT        -240.5000    548.2500    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -258.5000    548.2500    66.0000    4.0000
    END-POINT        -258.5000    548.2500    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -240.5000    548.2500    66.0000    4.0000
    END-POINT        -240.5000    548.2500    66.0000    4.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -240.5000    548.2500    66.0000    4.0000
    END-POINT        -231.5000    548.2500    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -231.5000    548.2500    66.0000    4.0000
    END-POINT        -231.5000    548.2500    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -231.5000    548.2500    66.0000    4.0000
    END-POINT        -213.5000    548.2500    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -213.5000    548.2500    66.0000    4.0000
    END-POINT        -213.5000    548.2500    66.0000    4.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -213.5000    548.2500    66.0000    4.0000
    END-POINT        -204.4840    548.2500    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -204.4840    548.2500    66.0000    4.0000
    END-POINT        -204.4840    548.2500    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
BEND
    END-POINT        -204.4840    548.2500    66.0000    4.0000  BW
    END-POINT        -200.1972    550.0257    66.0000    4.0000  BW
    CENTRE-POINT     -201.9728    548.2500    66.0000
    SKEY  BEBW
    ITEM-CODE  80 SA-106 GR. B-2689-13500.0000000001
    ITEM-DESCRIPTION  ELL 45 LR, SA-234 WPB, SCH 80, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPB
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  6.2
WELD
    END-POINT        -200.1972    550.0257    66.0000    4.0000
    END-POINT        -200.1972    550.0257    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -200.1972    550.0257    66.0000    4.0000
    END-POINT        -172.2297    577.9932    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -172.2297    577.9932    66.0000    4.0000
    END-POINT        -172.2297    577.9932    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
BEND
    END-POINT        -172.2297    577.9932    66.0000    4.0000  BW
    END-POINT        -167.9870    579.7505    66.0000    4.0000  BW
    CENTRE-POINT     -170.4723    579.7505    66.0000
    SKEY  BEBW
    ITEM-CODE  80 SA-106 GR. B-2720-13499.9999999983
    ITEM-DESCRIPTION  ELL 90 LR, SA-234 WPB, SCH 80, BV
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPB
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  12.5
WELD
    END-POINT        -167.9870    579.7505    66.0000    4.0000
    END-POINT        -167.9870    579.7505    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -167.9870    579.7505    66.0000    4.0000
    END-POINT        -137.1360    579.7505    66.0000    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
WELD
    END-POINT        -137.1360    579.7505    66.0000    4.0000
    END-POINT        -137.1360    579.7505    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
TEE
    END-POINT        -137.1360    579.7505    66.0000    4.0000  BW
    END-POINT        -128.8960    579.7505    66.0000    4.0000  BW
    CENTRE-POINT     -133.0160    579.7505    66.0000
    BRANCH1-POINT    -133.0160    579.7503    70.1200    4.0000  BW
    SKEY  TEBW
    ITEM-CODE  80 SA-106 GR. B-3144
    ITEM-DESCRIPTION  TEE, SA-234 WPB, SCH 80, BV
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-234 WPB
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  16.2
PIPE
    END-POINT        -133.0160    579.7503    70.1200    4.0000
    END-POINT        -133.0160    579.7498    78.0017    4.0000
    ITEM-CODE  80 SA-106 GR. B-3417
    ITEM-DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    INSULATION-SPEC  Min. Wool
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_4
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Material_SA-106 GR. B
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_WallThickness_0.337
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationThickness_4
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_InsulationType_Min. Wool
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_SCHClass_
    WEIGHT  15
MESSAGE
    CO-ORDS          -133.0160    579.7498    78.0017
    TEXT  CONNECT@TO@HISX202
    UNDIMENSIONED
WELD
    END-POINT        -133.0160    579.7503    70.1200    4.0000
    END-POINT        -133.0160    579.7503    70.1200    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -128.8960    579.7505    66.0000    4.0000
    END-POINT        -128.8960    579.7505    66.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        -124.1460    579.7505    66.0000    4.0000  FL
    END-POINT        -128.8960    579.7505    66.0000    4.0000  BW
    SKEY  FLWN
    ITEM-CODE  80 SA-106 GR. B-7295
    ITEM-DESCRIPTION  FLANGE WN, RF, SA-105, 900#
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_SA-105
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    WEIGHT  51
GASKET
    END-POINT        -124.0366    579.7505    66.0000    4.0000
    END-POINT        -124.1460    579.7505    66.0000    4.0000
    ITEM-CODE  PlaceHolder Imperial-937
    ITEM-DESCRIPTION  Gasket,  Flexitallic, 1/8" THK, CG, 900#
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          -124.0366    579.7505    66.0000    4.0000
    BOLT-DIA  1.1/8 
    BOLT-ITEM-CODE  80 SA-106 GR. B-4604-6.75
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  6.75
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_SCHClass_
    WEIGHT  2.8650
FLANGE-BLIND
    END-POINT        -124.0366    579.7505    66.0000    4.0000  FL
    END-POINT        -122.0366    579.7505    66.0000    4.0000  FL
    SKEY  FLBL
    ITEM-CODE  80 SA-106 GR. B-7268
    ITEM-DESCRIPTION  FLANGE BLIND, RF, SA-105, 900#
    FABRICATION-ITEM
    PIPING-SPEC  80 SA-106 GR. B
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_IPFW
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_DesignPressure_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_DesignTemperature_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_SA-105
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_WallThickness_
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationThickness_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_InsulationType_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_SCHClass_
    WEIGHT  54
MATERIALS
ITEM-CODE  80 SA-106 GR. B-3417
    DESCRIPTION  PIPE, SA-106 GR. B, SCH 80
    DesignPressure  
    DesignTemperature  
    Material  SA-106 GR. B
    WallThickness  0.337
    InsulationThickness  0
    InsulationType  
ITEM-CODE  Buttweld-4
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  
    InsulationType  
ITEM-CODE  80 SA-106 GR. B-2689
    DESCRIPTION  ELL 45 LR, SA-234 WPB, SCH 80, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WPB
    WallThickness  0.337
    InsulationThickness  4
    InsulationType  Min. Wool
ITEM-CODE  80 SA-106 GR. B-2720
    DESCRIPTION  ELL 90 LR, SA-234 WPB, SCH 80, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WPB
    WallThickness  0.337
    InsulationThickness  4
    InsulationType  Min. Wool
ITEM-CODE  80 SA-106 GR. B-3144
    DESCRIPTION  TEE, SA-234 WPB, SCH 80, BV
    DesignPressure  
    DesignTemperature  
    Material  SA-234 WPB
    WallThickness  0.337
    InsulationThickness  4
    InsulationType  Min. Wool
ITEM-CODE  80 SA-106 GR. B-7295
    DESCRIPTION  FLANGE WN, RF, SA-105, 900#
    DesignPressure  
    DesignTemperature  
    Material  SA-105
    WallThickness  
    InsulationThickness  
    InsulationType  
ITEM-CODE  80 SA-106 GR. B-4604-6.75
    DESCRIPTION  Stud Bolt, 1 1/8" x 7" LG. Lg, ASTM A193, B7 W/ 2 HEX NUTS, AST
    DESCRIPTION  M A194 2H
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  
    InsulationType  
ITEM-CODE  PlaceHolder Imperial-937
    DESCRIPTION  Gasket,  Flexitallic, 1/8" THK, CG, 900#
    DesignPressure  
    DesignTemperature  
    Material  
    WallThickness  
    InsulationThickness  
    InsulationType  
ITEM-CODE  80 SA-106 GR. B-7268
    DESCRIPTION  FLANGE BLIND, RF, SA-105, 900#
    DesignPressure  
    DesignTemperature  
    Material  SA-105
    WallThickness  
    InsulationThickness  
    InsulationType  